<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="immediateFlush" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%30.30c] [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
		</filter>
	</appender>

	<appender name="TRACE_LOG" class="org.apache.log4j.ConsoleAppender">
		<param name="immediateFlush" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMax" value="trace" />
		</filter>
	</appender>

	<logger name="jp.primecloud">
		<level value="debug" />
	</logger>

	<logger name="jp.primecloud.auto.zabbix">
		<level value="trace" />
	</logger>

	<root>
		<level value="warn" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="TRACE_LOG" />
	</root>

</log4j:configuration>
